.bg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    margin: 0 auto;
    border-radius: 10px;
}

.blog-bg {
    margin: 0 auto;
    position: relative;
}

.bg_a {
    background-image: url("../images/bg/carousel1.jpg")
}

.bg_b {
    background-image: url("../images/bg/carousel2.jpg")
}

.bg_c {
    background-image: url("../images/bg/carousel3.jpg")
}

.bg_d {
    background-image: url("../images/bg/carousel4.jpg")
}

.bg_e {
    background-image: url("../images/bg/carousel5.jpg")
}

@media (min-width:768px) {
    .bg_a {
        background-image: url("../images/bg/a.jpg")
    }
    .bg_b {
        background-image: url("../images/bg/b.jpg")
    }
    .bg_c {
        background-image: url("../images/bg/c.jpg")
    }
    .bg_d {
        background-image: url("../images/bg/d.jpg")
    }
    .bg_e {
        background-image: url("../images/bg/e.jpg")
    }
}